    #my_report{
    	width: 100%; 
        margin-top: -14px;   		
    }
    #my_report tr{
    	width: 100%;
    }
    #my_report td{
    	text-align: center;
    	height:260px;
    }
    .report_thumbnail{
    	width:90%;
    	height: 90%;
    	border:solid green 1px;
    }
    .report_thumbnail_unsub{
    	width:90%;
    	height: 90%;
    	border:solid green 1px;
    	background-color: #DDDDDD;
    	padding: 0px;
    }
    .report_thumimg{
    	width:90%;
    	height:40%;
    	margin-top: 10px;
    }
    .report_thumbtitle{		
    	font-size: 18px;
    	margin-left: 10px;
    	margin-right:10px;
    	margin-top: 8px;
    	text-align: left;
    }
    .report_thumbinfo{		
    	font-size: 10px;
    	margin-left: 10px;
    	margin-right:10px;
    	text-align: left;
    }
    .report_thumbhr{
    	margin: 10px;
    }
    .my_report_filter{
        width: 100%;
    }
    .my_report_filter_group{
        width: 60%;
        margin-left: 50px;
    }

    .my_report_filter_title{
        font-size: 18px;
        font-weight: bold;
        margin-left: 0;
    }
    .my_report_filter_sort{
        width: 80%;

    }