body {font-family: georgia;
font-size: 16px;}

@font-face {
    font-family: TexGyreHeros;
    src: url("../assets/font/TexGyreHeros/texgyreherosregular.ttf");
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    font-weight:200;
    }
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}    
h3 {
  font-size: 18px;
}
/*navbar*/
    .navbar-inverse .navbar-inner{
    -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
        border-radius: 0px;
        background:#282828;
        border:none;
    }
    
    .navbar-inner{
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    #banner {
      float: left;
      padding-top: 10px;
    }
    #bannerDecoration {
  background-color: #bbbdbf;
     height: 5px;
     margin: 0;
     padding: 0;
    }
    #banner p{
  color: #bbbdbf;
  font-size: 14px;
  font-family: georgia;
  font-style: italic;
}

/* page-header*/

.title { font-family: "TexGyreHeros", Arial, serif; font-weight:bold; 
font-size: 30px;
margin-bottom: 10px;
line-height: 35px;}
.subtitle { font-family: 'TexGyreHeros', Arial, serif; font-weight: 400; 
font-size: 24px;}
.logo {
  margin-bottom: 10px;
  margin-top: 0px;
}

#login {
  float: 
  margin-left: auto;
  margin-right: auto;
  background-color: #e1eae5;
  border-color: aqua;
  border-width: 1px;
  margin-top: 100px;
  position: relative;
  left : 20%;
}

#cover {
  margin: 30px;
}

body {
  background-image: url(../img/skyline.jpg); 
}




/*************** @media *****************/
  @media (max-width: 940px){
  .brand {
    display:block;
    text-align:center;
    font-size:26px;
    }
}

@media (max-width: 1200px) and (min-width: 940px){
    .fixed-top{
    max-width:300px;
  }  
}

@media (max-width: 940px) and (min-width: 768px){
    .fixed-top{
    max-width:225px;

  }
}